#
# The command for compiling a Java source file. It must accept the
# options "-classpath" and "-d" just as Sun's javac compiler.
#
BUILD_JAVAC="/usr/java/jdk1.5.0_09/bin/javac -Xlint -Xlint:-unchecked -Xlint:-serial"


#
# The command for creating a JAR file. It is expected to accept the same
# command line options as Sun's JDK jar utility.
#
BUILD_JAR=jar

#
# The command for building javadoc documentation from source file. It is
# expected to accept the same command line options as Sun's JDK javadoc
# utility.
#
BUILD_JAVADOC=/usr/java/jdk1.5.0_09/bin/javadoc

