#
# Example build.conf
#
# The build.conf contains configuration parameters used by the
# makefile used in the build procdeure. It is expected to be written
# in Bourne shell syntax.
#
# The following parameters must be defined. See bellow for descriptions
# and example values.
#    BUILD_JAVAC
#    BUILD_JAR
#    BUILD_JAVADOC
#


_myJavaHome=/usr/java/default


#
# The command for compiling a Java source file. It must accept the
# options "-classpath" and "-d" just as Sun's javac compiler.
#
BUILD_JAVAC="${_myJavaHome}/bin/javac -Xlint -Xlint:-unchecked -Xlint:-serial"


#
# The command for creating a JAR file. It is expected to accept the same
# command line options as Sun's JDK jar utility.
#
BUILD_JAR=${_myJavaHome}/bin/jar

#
# The command for building javadoc documentation from source file. It is
# expected to accept the same command line options as Sun's JDK javadoc
# utility.
#
BUILD_JAVADOC=${_myJavaHome}/bin/javadoc

