#
# Example Makefile.conf
#
# The Makefile.conf contains configuration parameters used by the
# makefile. It is expected to be written in Bourne shell syntax.
#
# The following parameters must be defined. See bellow for descriptions
# and example values.
#
#    BUILD_JAVA_HOME
#


#
# Used for seting up the development environment as a Tea installation
# in order to run the "teadoc" tool.
#
BUILD_JAVA_HOME=/usr/java/default

